# Archivos de credenciales
secrets/.ipynb_checkpoints/binance.secrets-checkpoint.json
secrets/binance.secrets.json
*.secrets.json
.env

# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python

# Datos
*.csv
*.log

# IDE
.vscode/
.idea/
*.swp
